@import './global.css';

.title {
  font-family: 'Roboto';
  font-weight: bold;
  color: red;
}

.description {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 32px;
  color: green;
}

.icon {
  path {
    fill: black !important;
  }
}
